#delugeSVG {
    /* display: block; */
    margin: 0 auto;
    max-width: 100%;
/* }

#image-stack {
    /* align-self: stretch; */
    flex: 2;
    width: 80vw;
}

#flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
